@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Pet Shop!!</h1>
    <div class="carousel-item">
        <img src="~/Images/petshop.jpg" class="d-block w-100" alt="Pet Shop">
        <h5>Pet One</h5>
        <p></p>
    </div>
    
    <div class="stacked-btns">
     @*Dog Controller*@ 
    <button class="stacked-button btn-text btn text-black" onclick="location.href='@Url.Action("")'">View Dogs</button>

    @*Login Controller*@
    <button class="stacked-button btn-text btn text-black" onclick="location.href='@Url.Action("")'">Login</button>
    
    @*Register Controller*@
        <button class="stacked-button btn-text btn text-black" onclick="location.href='@Url.Action("")'">Register</button>
    </div>
</div>
