@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center stacked-btns">
    <h1 class="header">Welcome To The Pet Shop!!</h1>

    <div class="btn-center">
        @*Register Controller*@
        <div class="stacked-btns">
            <button class="stacked-button btn-text btn text-black" onclick="location.href='@Url.Action("Register", "User")'">Register</button>
        </div>
        @*Login Controller*@
        <div class="stacked-btns">
            <button class="stacked-button btn-text btn text-black" onclick="location.href='@Url.Action("Login", "User")'">Login</button>
        </div>
        @*Dog Controller*@
        <div class="stacked-btns">
            <button class="stacked-button btn-text btn text-black" onclick="location.href='@Url.Action("Index", "Pet")'">View Dogs</button>
        </div>
        
    </div>

</div>
